@model n01542751_Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Teacher's Information</h2>

<div>
    Teacher Id: @Model.TeacherId
</div>
<div>
    First Name: @Model.TeacherFName
</div>
<div>
    Last Name: @Model.TeacherLName
</div>
<div>
    Employee Number: @Model.EmployeeNumber
</div>
<div>
    Hire Date: @Model.HireDate 
</div>
<div>
    Salary: @Model.Salary
</div>